<app-nav-bar (search)="search = $event"></app-nav-bar>
<div class="page" *ngIf="isLoad">
  <header class="header">
    <h1 class="header__title">Star Wars Gallery</h1>
    <span class="header__description"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate
      porro blanditiis voluptate tenetur modi eaque, qui exercitationem eius
      fuga!</span
    >
  </header>
  <div class="image-list-container">
    <div class="image-list">
      <div
        class="image-list__item"
        *ngFor="let item of imagesList | searchPipe : search"
        (click)="openInformation(item)"
        [style]="'background-image: url(' + item.image + ')'"
      >
        <span class="image-list__title">{{ item.name }}</span>
      </div>
    </div>
    <div
      class="not-found"
      *ngIf="
        !(imagesList | searchPipe : search).length || imagesList.length === 0
      "
    >
      <i class="bx bx-error-circle not-found__icon"></i>
      <p class="not-found__text">Not Found</p>
    </div>
  </div>
</div>
